In [63]:
mlbyte
from sklearn import *
from datetime import datetime
from xgboost import XGBRegressor

In [64]:
data = {
    'air_visit_data': pd.read_csv('../input/air_visit_data.csv' ,parse_dates=['visit_date']),
    'air_store_info': pd.read_csv('../input/air_store_info.csv'),
    'hpg_store_info': pd.read_csv('../input/hpg_store_info.csv'),
    'air_reserve': pd.read_csv('../input/air_reserve.csv' ,parse_dates=['visit_datetime', 'reserve_datetime']),
    'hpg_reserve': pd.read_csv('../input/hpg_reserve.csv',parse_dates=['visit_datetime', 'reserve_datetime']),
    'store_id_relation': pd.read_csv('../input/store_id_relation.csv'),
    'sample_submission': pd.read_csv('../input/sample_submission.csv'),
    'date_info': pd.read_csv('../input/date_info.csv',parse_dates=['calendar_date']).rename(columns={'calendar_date':'visit_date'})
    }

## **Adding date and time features **

In [65]:
data['air_visit_data']['DayInMonth'] = data['air_visit_data']['visit_date'].dt.day
data['air_visit_data']['Month']  = data['air_visit_data']['visit_date'].dt.month
data['air_visit_data']['DayOfWeek'] = data['air_visit_data']['visit_date'].dt.weekday
data['air_visit_data']['Year'] = data['air_visit_data']['visit_date'].dt.year
data['air_visit_data']['Quarter'] = data['air_visit_data']['visit_date'].dt.quarter

In [66]:
data['air_visit_data'].head()

,air_store_id,visit_date,visitors,DayInMonth,Month,DayOfWeek,Year,Quarter
0,air_ba937bf13d40fb24,2016-01-13,25,13,1,2,2016,1
1,air_ba937bf13d40fb24,2016-01-14,32,14,1,3,2016,1
2,air_ba937bf13d40fb24,2016-01-15,29,15,1,4,2016,1
3,air_ba937bf13d40fb24,2016-01-16,22,16,1,5,2016,1
4,air_ba937bf13d40fb24,2016-01-18,6,18,1,0,2016,1

## **Adding names of cities**

In [67]:
def Major_Cit(name):
    if name.startswith("Tōkyō-to"):
        return "Tokyo"
    elif name.startswith("Fukuoka-ken"):
        return "Fukuoka-ken"
    elif name.startswith("Ōsaka-fu"):
        return "Ōsaka-fu"
    elif name.startswith("Hokkaidō"):
        return "Hokkaidō"
    elif name.startswith("Hyōgo-ken"):
        return "Hyōgo-ken"
    elif name.startswith("Niigata-ken"):
        return "Niigata-ken"
    elif name.startswith("Hiroshima-ken"):
        return "Hiroshima-ken"
    elif name.startswith("Niigata-ken"):
        return "Niigata-ken"
    elif name.startswith("Shizuoka-ken"):
        return "Shizuoka-ken"
    elif name.startswith("Miyagi-ken"):
        return "Miyagi-ken"
    elif name.startswith("Osaka"):
        return "Ōsaka-fu"  
    elif name.startswith("Saitama-ken"):
        return "Saitama-ken"
    elif name.startswith("Kanagawa-ken"):
        return "Kanagawa-ken"
    else:
        return "Other"

In [68]:
data['air_store_info']['city_name'] = data['air_store_info']['air_area_name'].apply(Major_Cit)

In [71]:
def Sub_Genre(name):
    if name in ['Izakaya','Dining bar','Bar/Cocktail']:
        return "Bar"
    elif name in ['Italian/French','Japanese food','Yakiniku/Korean food','Western food']:
        return "Meals"
    elif name in ['Cafe/Sweets','Okonomiyaki/Monja/Teppanyaki','Other']:
        return "Pastry"
    elif name in ['Creative cuisine','International cuisine','Asian']:
        return "Cuisine"
    elif name in ['Karaoke/Party']:
        return "Karaoke"
    else:
        raise Exception

In [72]:
data['air_store_info']['air_genre_name'].value_counts()

Izakaya                         197
Cafe/Sweets                     181
Dining bar                      108
Italian/French                  102
Bar/Cocktail                     79
Japanese food                    63
Other                            27
Yakiniku/Korean food             23
Western food                     16
Okonomiyaki/Monja/Teppanyaki     14
Creative cuisine                 13
International cuisine             2
Asian                             2
Karaoke/Party                     2
Name: air_genre_name, dtype: int64

In [73]:
data['air_store_info']['air_sub_genre_name'] = data['air_store_info']['air_genre_name'].apply(Sub_Genre)

In [74]:
data['air_store_info'].tail()

,air_store_id,air_genre_name,air_area_name,latitude,longitude,city_name,air_sub_genre_name
824,air_9bf595ef095572fb,International cuisine,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,Tokyo,Cuisine
825,air_764f71040a413d4d,Asian,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,Tokyo,Cuisine
826,air_10bbe8acd943d8f6,Asian,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,Tokyo,Cuisine
827,air_7514d90009613cd6,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956,Hokkaidō,Karaoke
828,air_c8fe396d6c46275d,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956,Hokkaidō,Karaoke

In [75]:
data['hpg_store_info'].head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [76]:
data['hpg_store_info']['city_name'] = data['hpg_store_info']['hpg_area_name'].apply(Major_Cit)
Find_them = data['hpg_store_info'] [ data['hpg_store_info']['city_name'] == 'Other' ]
Find_them.to_csv('GIND.csv', index=None)